.parent {
  background: gold;
  width: 200px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent:after {
  font-size: 20px;
  content: '부모';
}

.edge-left {
  background: dodgerblue;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
}

.edge-right {
  background: dodgerblue;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}

.edge-top {
  background: dodgerblue;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 100%;
}

.edge-bottom {
  background: dodgerblue;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100%;
}

.rotate-origin {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: dodgerblue;
  transform-origin: top left;
  transform: rotate(45deg);
}

.percent {
  width: 20px;
  height: 20px;
  position: absolute;
}

.percent-25 {
  background: dodgerblue;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.percent-50 {
  background: deeppink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent-75 {
  background: green;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
